# see: https://github.com/marketplace/actions/test-compile-for-arduino

name: build
on: [push, pull_request]
jobs:
  build:
    name: build for MCU
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Checkout M5Tough library
      uses: actions/checkout@v4
      with:
          repository: mgrouch/M5Tough
          ref: master
          path: CustomLibrary_M5Tough  # must contain string "Custom"

    - name: Copy lv_conf.h
      run: |
        mkdir -p /home/runner/Arduino/libraries
        cp /home/runner/work/bbn-m5stack-tough/bbn-m5stack-tough/lv_conf.h-custom /home/runner/Arduino/libraries/lv_conf.h

    - name: Compile sketch
      uses: ArminJo/arduino-test-compile@v3
      with:
        arduino-board-fqbn: esp32:esp32:m5stack_core2
        platform-url: https://raw.githubusercontent.com/espressif/arduino-esp32/gh-pages/package_esp32_index.json
        required-libraries: MQTT@2.5.2,LVGL@8.3.11,ArduinoJson@6.21.5,ReactESP@2.1.0
        sketch-names: "*.ino"
        sketch-names-find-start: bbn_m5tough_active_boat/*
        extra-arduino-cli-args: "--warnings default"
        set-build-path: true

    - name: Make zip
      run: |
        ls /home/runner/work/bbn-m5stack-tough/bbn-m5stack-tough/bbn_m5tough_active_boat/build/*.bin | zip bbn_m5tough_active_boat_bin-$(date +%Y-%m-%d).zip -j -@
        pwd
        ls *.zip        
